/* ==== Estilos generales navbar === */

.page-title {
  width: 100% !important;
  font-size: 1.5em !important;
  font-weight: 600 !important;
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  margin-bottom: 1rem !important;
  opacity: 0.75 !important;
}

.page-title a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  transition: color 0.3s ease !important;
  margin: 0.5rem;
  text-align: center;
}

.page-title h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  width: 100% !important;
  background-color: #191A23 !important;
  flex-wrap: wrap; /* para que el menú pueda ir a nueva línea */
}


.abrir-menu,
.cerrar-menu {
    display: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: nowrap;
}

nav ul li {
  padding-top: 0.75rem;
  margin: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: orange;
}

.hoverable {
  float: inline-start;
  display: grid;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgb(255, 162, 0) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

/* Bounce Animation */
@keyframes bounce-animation {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

/* Responsive: móvil (pantallas ≤ 768px) */
@media (max-width < 900px) {
  .container-fluid {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .hoverable{
    display: none;
  }

  .abrir-menu{
    display: block;
  }
}
